@page "/Login"
@model KoiManagement.WebApplication.Pages.LoginModel
@{
}

<form style="display: flex; flex-direction:column ;justify-content: center; align-items: center;">
    

    <!-- Submit button -->
    <a href="/SignIn" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block w-25"><i class="fa fa-phone mr-2"></i>Sign in with phone</a>
    <a href="/Account/SignInWithGoogle" class="btn btn-danger btn-block w-25"><i class="fa fa-google-plus mr-2"></i>Sign in with Google</a>
    <!-- Register buttons -->
    <div class="text-center mt-2 mb-2">
        <p style="margin:0;">Not a member? </p>
        <a href="/Login2" class="btn btn-success"><i class="fa fa-user-plus mr-1"></i>Register</a>
    </div>

</form>
