@page "/Login"
@model KoiManagement.WebApplication.Pages.loginModel
@{
}

<form style="display: flex; flex-direction:column ;justify-content: center; align-items: center;">
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4 w-50">
        <input type="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4 w-50">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check w-50">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31" style="white-space:nowrap; margin-right: 20px;">  Remember me </label>
            </div>
        </div>

        <div class="col">
            <!-- Simple link -->
            <a href="#!" style="white-space:nowrap;">Forgot password?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4 w-50">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p style="margin:0;">Not a member? <a href="#!">Register</a></p>
        <p style="margin:0;">or sign up with:</p>
<a style="color:red;" href="/Account/SignInWithGoogle">
            <img style="width: 30px; height: 30px;" src="~/img/adapt_icon/logogoogle.png" />

        </a>   </div>
</form>
